.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin: 0 200px 0 200px;
    padding-bottom: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(254, 254, 254);
}

.profile input {
    text-align: center;
}