stages:
    - infra
    - build
    - deploy

terraform-config:
    image: 
        name: hashicorp/terraform
        entrypoint: [""]
    stage: infra
    script:
        - terraform init
        - terraform apply -auto-approve
        - echo "S3_BUCKET=$(terraform output -raw s3_bucket)" > deploy.env
        - echo "DISTRIBUTION_ID=$(terraform output -raw distribution_id)" >> deploy.env
    artifacts:
        reports:
            dotenv: deploy.env

build-front:
    image: node:20.16
    stage: build
    script:
        - cd ./front_touragency/
        - npm install 
        - CI=false npm run build
    cache:
        key:
            files:
                - ./front_touragency/package-lock.json
        paths:
        - ./front_touragency/node_modules/
    artifacts:
        expire_in: 1 day
        paths:
        - ./front_touragency/build

deploy-to-s3:
    image:
        name: amazon/aws-cli:2.2.18
        entrypoint: [""]
    stage: deploy
    script:
        - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
        - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
        - aws s3 sync ./front_touragency/build s3://$S3_BUCKET/ --delete
        - aws cloudfront create-invalidation --distribution-id $DISTRIBUTION_ID --paths '/*'