.ad {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(65, 65, 65, 0.315); 
    background-blend-mode: overlay;
    background-image: url(../sea.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.ad>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 20px;
}

.ad a:hover {
    transform: translateY(-10%);
}

.ad>div>a>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(240, 240, 240, 0.312);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background-color: rgba(240, 240, 240, 0.629);
    color: rgb(254, 254, 254);
    margin-bottom: 30px;
}