body {
  font-family: 'Garamond', 'Georgia', serif;
  
}
body::-webkit-scrollbar {
  display: none;
}

#root {
  background-color: rgb(44, 44, 44);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  
}
#root>div {
  flex: 1;
  padding-top: 10px;
  background-color: rgb(254, 254, 254);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

ul {
  list-style: none;
}

button {
  margin: 20px 0 20px 0;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
}
button:hover {
  background-color: rgb(171, 171, 171);
  color: rgb(104, 104, 104);
  cursor: pointer;
} 